extends layout
block content
  .container
    .row
      .col-lg-8.col-xl-6.mx-auto
        .card.card-signin.flex-row.my-5.shadow
          .card-body.text-center.mx-auto
            i.fa.fa-check-circle.fa-5x(aria-hidden='true')
            hr
            h1 #{message}